<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Syaifood</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet"
    type="text/css" />
</head>

<body>
  <header class="header">
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <div class="header__inner">
      <img src="./images/Syaifood.png" alt="">
      <a id="menu" class="header__menu">☰</a>
      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#">Home</a></li>
          <li class="nav__item"><a href="#favorite">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/msyaifulbhr/" target="_blank">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Enjoy special dishes from Indonesia,<br>
        where food becomes an adventure.</h1>
      <button>Find Resto</button>
    </div>
  </div>
  
  <main id="maincontent">
    <div class="explore" id="favorite">
      <h1 class="explore__label">Explore The Best Resto</h1>
      <div class="restaurants">
      </div>
      <div class="button__view">
        <button class="view-full-resto" aria-label="View full resto"><a href="#">View All</a></button>
      </div>
    </div>
    
  </main>
  <footer>
    <ul>
      <li>Made by MSyaifulBhr</li>
      <li>Submission Front-End Expert <a href="https://www.dicoding.com/academies/219">Dicoding</a></li>
    </ul>
  </footer>

</body>

</html>